@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-roboto: "DM Sans"; 
}

@layer base {
  h1 {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 500;
  }
}